*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #4C5760;
    text-align: center;
}
h1{
    justify-content: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    color: #b0413e;
    background-color: white;
}
#reset{
    background-color: #191913;
    color: white;
    border-radius: .5rem;
    border: none;
    height: 4vh;
    width: 12vw;
}
#msg{
    color: white;
    font-size: 8vmin;
}
#newGameBtn{
    background-color: #191913;
    color: white;
    border-radius: .5rem;
    border: none;
    height: 4vh;
    width: 12vw;
}
.msgContainer{
    height: 20vmin;
}
.hide{
    display: none;
}